@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source "../../src/elm";
@source "../../src/**/*.astro";

@layer utilities {
  .prose {
    max-width: unset;
    display: grid;
    grid-template-columns:
      [gutter-start] 1fr
      [full-start] clamp(1rem, 10vw, 8rem)
      [content-start] minmax(auto, 65ch)
      [content-end] clamp(1rem, 10vw, 8rem)
      [full-end] 1fr
      [gutter-end];
    padding: 0 1rem;
    & > * {
      grid-column: content;
    }
    & > .full {
      grid-column: full;
    }
  }

  .h-calc-auto {
    height: auto;
    height: calc-size(auto, size);
  }
}

@theme {
  --font-brand-sans: GTUltra;

  /* based on #EFEAE5 */
  --color-pampas-50: #f8f6f4;
  --color-pampas-100: #efeae5;
  --color-pampas-200: #ded4ca;
  --color-pampas-300: #c9b7a8;
  --color-pampas-400: #b29685;
  --color-pampas-500: #a37f6c;
  --color-pampas-600: #956f61;
  --color-pampas-700: #7d5b51;
  --color-pampas-800: #664c46;
  --color-pampas-900: #543f3a;
  --color-pampas-950: #2c201e;

  /* based on #A6B8BB */
  --color-tower-gray-50: #f6f9f9;
  --color-tower-gray-100: #edf0f1;
  --color-tower-gray-200: #d7dfe0;
  --color-tower-gray-300: #a6b8bb;
  --color-tower-gray-400: #8ba2a5;
  --color-tower-gray-500: #6c878b;
  --color-tower-gray-600: #576e72;
  --color-tower-gray-700: #47595d;
  --color-tower-gray-800: #3d4c4f;
  --color-tower-gray-900: #364244;
  --color-tower-gray-950: #242b2d;

  --color-white: #ffffff;
  --color-grey-100: #f7f7f7;
  --color-grey-200: #efefef;
  --color-grey-300: #dbdbdb;
  --color-grey-400: #9b9b9b;
  --color-grey-500: #666666;
  --color-grey-600: #333333;
  --color-grey-700: #222222;
  --color-grey-800: #111111;
  --color-accent-dark: #c75724;
  --color-accent: #e15a1d;
  --color-text-primary: var(--color-grey-600);
  --color-text-secondary: var(--color-grey-500);
  --color-text-tertiary: var(--color-grey-400);
  --color-text-inverted: var(--color-white);
  --color-text-brand: var(--color-pop-orange);
  --color-surface-primary: var(--color-grey-100);
  --color-surface-secondary: var(--color-grey-300);
  --color-surface-tertiary: var(--color-grey-400);
  --color-surface-brand: var(--color-pop-orange);
  --link-color-text: var(--color-text-brand);
  --modal-color-surface: var(--color-pampas-100);
  --modal-header-color: var(--color-text-brand);
}

@layer typography {
  @font-face {
    font-family: GTUltra;
    src: url("/GT-Ultra-Trial-VF.ttf") format("truetype-variations");
    font-weight: 100 950;
    font-stretch: 50% 200%;
    font-style: normal;
    font-display: swap;
  }
}
