@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source "../../src/elm";
@source "../../src/**/*.astro";

@layer utilities {
  .prose {
    max-width: unset;
    display: grid;
    grid-template-columns:
      [gutter-start] 1fr
      [full-start] clamp(1rem, 10vw, 8rem)
      [content-start] minmax(auto, 65ch)
      [content-end] clamp(1rem, 10vw, 8rem)
      [full-end] 1fr
      [gutter-end];
    padding: 0 1rem;
    & > * {
      grid-column: content;
    }
    & > .full {
      grid-column: full;
    }
  }
}

@theme {
  --font-brand-sans: GTUltra;

  /* BLUISH GRAY */
  --color-neutral-50: oklch(98.5% 0.002 198.81);
  --color-neutral-100: oklch(95.775% 0.00425 215.52);
  --color-neutral-200: oklch(90.95% 0.0085 215.51);
  --color-neutral-300: oklch(84.425% 0.01375 209.31);
  --color-neutral-400: oklch(67% 0.027 212.3);
  --color-neutral-500: oklch(52.017% 0.03117 215.34);
  --color-neutral-600: oklch(42.133% 0.03333 207.78);
  --color-neutral-700: oklch(35.45% 0.0365 210.71);
  --color-neutral-800: oklch(26.567% 0.03467 207.82);
  --color-neutral-900: oklch(20.383% 0.03483 215.64);
  --color-neutral-950: oklch(13% 0.028 212.67);

  --color-white: #ffffff;
  --color-grey-100: #f7f7f7;
  --color-grey-200: #efefef;
  --color-grey-300: #dbdbdb;
  --color-grey-400: #9b9b9b;
  --color-grey-500: #666666;
  --color-grey-600: #333333;
  --color-pop-orange: #e15a1d;
  --color-accent-dark: #c75724;
  --color-accent: #e15a1d;
  --color-text-primary: var(--color-grey-600);
  --color-text-secondary: var(--color-grey-500);
  --color-text-tertiary: var(--color-grey-400);
  --color-text-inverted: var(--color-white);
  --color-text-brand: var(--color-pop-orange);
  --color-surface-primary: var(--color-grey-100);
  --color-surface-secondary: var(--color-grey-300);
  --color-surface-tertiary: var(--color-grey-400);
  --color-surface-brand: var(--color-pop-orange);
  --link-color-text: var(--color-text-brand);
  --modal-color-surface: #efeae5;
  --modal-header-color: var(--color-text-brand);
}

@layer typography {
  @font-face {
    font-family: GTUltra;
    src: url("/GT-Ultra-Trial-VF.ttf") format("truetype-variations");
    font-weight: 100 950;
    font-stretch: 50% 200%;
    font-style: normal;
    font-display: swap;
  }
}
